<div class="container-rat">
  <div class="container-rat-card">
  <% @rats.each do |rat| %>
    <div class="card-rat" style="background-image: url('<%= cl_image_path rat.photo.key, height: 300, crop: :fill %>')">
      <div class="rat-name">
        <h2><%= link_to rat.first_name , rat_path(rat) %></h2>
      </div>
    </div>
  <% end %>
  </div>
</div>
