<div class="container-rat">
  <div class="container-rat-card">
  <% @rats.each do |rat| %>
    <div class="card-rat" style="background-image: url('<%= cl_image_path rat.photo.key, height: 300, crop: :fill %>')">
      <h2><strong><%= link_to rat.first_name, rat_path(rat) %></strong></h2>
    </div>
  <% end %>
  </div>
</div>
