<div class="splash">
  <h1>THIS IS RAT FASHION</h1>
  <P>...and in a few clicks it could be in your wardrobe.</P>
  <%= link_to "Browse", hats_path, class: "button-submit" %>
</div>

<div class="container">
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Looking for a fascinator?<span class="text-muted">  Well we've got <u><strong>astounders.</strong></u></span></h2>
        <p class="lead">Rat hats aren't just an item of clothing, they're a way of life.  On this website you won't find a more extensive collection of the best in rat hat fashion.</p>
      </div>
      <div class="col-md-5">
        <%= image_tag "hat.jpg", width: 500, height: 500 %>
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">A Community <span class="text-muted">You can be yourself in.</span></h2>
        <p class="lead">We pride ourselves on a community of the greatest, fashionably conscious rats around.  Our moderators work hard to ensure all rats can enjoy their time in our community either renting, or offering their great hats.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag "darkrat.jpg", width: 500, height: 500 %>
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Security first. <span class="text-muted">Don't be fooled by imposters.</span></h2>
        <p class="lead">Our patented anti-cat technology ensures that the only animal your renting your hats to, is a rat just like you</p>
      </div>
      <div class="col-md-5">
        <%= image_tag "cat.jpg", width: 500, height: 500 %>
      </div>
    </div>
    <hr class="featurette-divider">
</div>



  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>


  <%# <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Heading</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Heading</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Heading</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
    </div> %>
