.new-rats {
  display: grid;
  flex-grow: 1;
  text-align: center;
  width: 50%;
  background-color: hsl(0, 0%, 98%);
  padding: 5%;
  box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.137);
  border-radius: 4px;
  margin: 0 auto;
  margin: 5%;
  margin-top: 4%;
  margin-bottom: 4%;
}

@media (min-width: 100px) and (max-width: 790px) {
  .new-rats {
    grid-template-columns: 1fr;
    width: 90%;
    h1 {
          font-size: 200%;
    }
  }
}

.new-rat {
  justify-self: center
}

.container-rat {
  display: grid;
  flex-grow: 1;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.container-rat-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 100px) and (max-width: 768px) {
  .container-rat-card {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 767px) and (max-width: 992px) {
  .container-rat-card {
    grid-template-columns: 1fr 1fr;
  }
}

.card-rat {
  // height: 100%;
  display: flex;
  height: 200px;
  width: 90%;
  margin: 4%;
  padding: 2%;
  background-color: #fafafa;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: flex-end;
  border-radius: 6px;
  box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.137);
    h2, a {
      font-size: 150%;
      margin-bottom: 0%;
      color: white;
    }
}

.card-rat-img {
  // height: 50%;
  aspect-ratio: 16 / 12;
  // border-radius: 8px;
  background-size: cover;
}

.card-rat-text {
  padding: 3%;
    a {
      font-weight: lighter;
      color: black;
    }
}
