.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

// .marker {
//   background-image: url('ratmarker.png');
//   background-size: cover;
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   cursor: pointer;
// }
