.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  width: 100vw;
  top: 0px;
  left: 0px;
  transition: 0.5s background-color ease-in-out;
  z-index: 10;
}

.navbar-lewagon-white {
  background-color: hsl(0, 0, 15%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.navbar-lewagon .nav-link {
  color: white !important;
}

#home-navbar {
  position: fixed;
}
