.submission-card {
  margin: 80px auto;
  overflow: hidden;
  max-width: 600px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);

  a {
    color:black;
  }

  .link {
    text-align: end;
  }
}

.submission-card .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  margin-bottom: 20px;
}

.submission-card .button-submit-full {
  background-color: #473D3D;
  width: auto !important;
  text-align: center;
  border-radius: 40px;
  padding: 10px 100px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px auto;

    &:hover {
    color: gold;
    // text-decoration: none;
    background-color: black;
    }
}
